<!DOCTYPE html>
<html>
<head>
  <title>Gotta Go!</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
  /*html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
    }*/
    #map-canvas {
      height: 400px;
      width: 400px;
      margin: 0px;
      padding: 0px
    }
    </style>
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY3appHAkQeRQJVGwOi1p80XybQQc-BC0&sensor=true"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script> -->

</head>
<body>

<div class="row">
  <!-- left side -->
  <div class="large-6 columns">
    <p>&nbsp;</p>
    <h3 class="header">Click a marker to view information and reviews.</h3>
    <br/>
    <h3 class="header">Need to add a restroom?</h3>
    <% if !user_signed_in? %>
      <h6 class="subheader">Must be signed in</h6>
    <% end %>
    1) Click on the map to add a marker.<br/>
    2) Enter a location name.<br/>
    3) Add Restroom!<br/>
    <p>&nbsp;</p>
    <%= simple_form_for(@restroom) do |f| %>
    <%= f.input :location_name, label: 'Location Name' %>
    <%= f.hidden_field :latitude, readonly: true %>
    <%= f.hidden_field :longitude, readonly: true%>
    <%= f.button :submit, 'Add Restroom', class: 'button' %>
    <% end %>
    <%= notice %>
  </div>
  <!-- right side -->
  <div class="large-6 columns">
    <p>&nbsp;</p>
    <div id="map-canvas"></div>
  </div>
</div>

</body>
</html>
