<!DOCTYPE html>
<html>
<head>
  <title>Gotta Go!</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
  /*html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
    }*/
    #map-canvas {
      height: 400px;
      width: 400px;
      margin: 0px;
      padding: 0px
    }
    </style>
    <!--
    Include the maps javascript with sensor=true because this code is using a
    sensor (a GPS locator) to determine the user's location.
    See: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_the_Maps_API
  -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY3appHAkQeRQJVGwOi1p80XybQQc-BC0&sensor=true"></script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script> -->

</head>
<body>
<!--
<table height="700" width="800" border="0" align="center">
  <tr height="45">
    <td>&nbsp;</td>
  </tr>
  <tr><td>
  -->
  <!-- nested table -->
  <table align="center" height="655" width="800" border-style="solid" border-width="1px" cellpadding="0" cellspacing="0">
    <!-- <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="25%">
    <col width="25%">
  </colgroup> -->
  <tr align="center" height="55">
    <td width="400">
      <div>
        <a href="<%= root_path %>" class="large button">Gotta Go!</a>
      </div>
    </td>
    <td width="400">
      <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
      <div class="button-bar">
        <ul class="button-group">
          <li><a href="<%= new_user_registration_path %>" class="small button">Sign Up</a></li>
          <li><a href="<%= new_user_session_path %>" class="small button">Sign In</a></li>
        </ul>
      </div>
      <% end %>
    </td>
  </tr>
  <!--
    <tr>
      <td colspan="2" height="75" align="center">Nearest Restrooms</td>
      <td colspan="2">
        Search Bar
      </td>
    </tr>
  -->
  <tr>
    <td width="400">list of restrooms</td>
    <td width="400" valign="top">MAP GOES HERE 400x400
      <!--<div id="map-canvas"></div>-->
      <br/>
      <p>
        Click on a location to add a marker.<br>
        <a href="<%= new_restroom_path %>" class="tiny button">Add Restroom</a>
      </p>
    </td>
  </tr>
</table>
<!-- end nested -->
<!--
</td></tr>
</table>
-->
</body>
</html>
