<div class="row">
  <div class="large-6 columns"><h2>Location: <%= @restroom.location_name %></h2>
    <h4 class="subheader"><%= link_to 'Add Review', "/restrooms/#{@restroom.id}/reviews/new" %></h4>
  </div>
    <!--
    <a href="<%#= "/restrooms/#{@restroom.id}/reviews/new" %>">Add Review</a>
  -->
  <%#= link_to 'Add Review', "/restrooms/#{@restroom.id}/reviews/new" %>
</div>


<!--
view-source:http://www.starboundplanets.com/
Table with striped (alternating) background colors for easier reading
-->
<div class="row">
  <div class="large-12 columns">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Posted By: </th>
          <th>Date</th>
          <th>Cleanliness</th>
          <th>Privacy</th>
          <th>Smell</th>
          <th>Accessibility</th>
          <th>Gender</th>

        </tr>
      </thead>
      <tbody>
        <% @restroom.reviews.reverse.each do |x| %>
        <%# cat1 = ['cleanliness', 'privacy', 'smell'] %>
        <%# cat2 = ['accessibility', 'gender'] %>
          <tr>
            <td><%= x.user.first_name %> <%= x.user.last_name %></td>
            <td><%= x.created_at.strftime("%b %d, %Y") %></td>
            <td>
              <% if x.cleanliness.nil? %>
                <%= "N/A" %>
              <% else %>
                <%= x.cleanliness %>
              <% end %>
            </td>
            <td>
              <% if x.privacy.nil? %>
                <%= "N/A" %>
              <% else %>
                <%= x.privacy %>
              <% end %>
            </td>
            <td>
              <% if x.smell.nil? %>
                <%= "N/A" %>
              <% else %>
                <%= x.smell %>
              <% end %>
            </td>
            <td>
              <% if x.accessibility.blank? %>
                <%= "N/A" %>
              <% else %>
                <%= x.accessibility %>
              <% end %>
            </td>
            <td>
              <% if x.gender.blank? %>
                <%= "N/A" %>
              <% else %>
                <%= x.gender %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="7"><strong>Comments:</strong> <%= x.comments %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p></p>
