<h3>Review</h3>
<%= notice %>
<!--
<%#= simple_form_for @photographer, :url => savenew_photographers_path %>
<%#= form_for(@question, :url => job_questions_path(@job)) do %>
<%#= form_for([@job, @question]) %>
-->


<div class="large-4 columns">

<%= simple_form_for @review, url: url_for(action: 'create', controller: 'reviews', method: 'post') do |f| %>
<%= f.input :cleanliness, :collection => 1..5 %>
<%= f.input :privacy, :collection => 1..5 %>
<%= f.input :smell, :collection => 1..5 %>
<%= f.input :accessibility, :collection => ['Unknown', 'Public', 'Purchase Required', 'Private'] %>
<%= f.input :gender, :collection => ['Unisex', 'Male', 'Female'] %>
<%= f.input :comments, as: :text %>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.button :submit, 'Add Review', class: 'button' %>
<% end %>
<br/>
</div>
